{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}



{% block body_block %}
<style>
    body {
        background-color: white;

    }

    .container-1 {
        background-color: whitesmoke;
        margin: auto;
        padding: 0px;
        height: 700px;





        /* -webkit-animation: mymove 5s infinite;
        /* Safari 4.0 - 8.0 */
        /* animation: mymove 5s infinite; */



        padding: 10px 10px 20px 10px;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;

    }
</style>



<div class="container-1">









<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Medical Advice</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">The relationship between the physician and
            his patient varies according to the type of
            illness or complaint, the concomitant severity of
            the illness and the treatment setting. With sud-
            den severe illness or injury where emergency
            treatment is called for, the patient makes few,
            if any, conscious decisions regarding his treatment
            and is under the complete control of the physician
            during the initial process. In less extreme cases,
            the patient comes to the physician voluntarily and
            often makes decisions regarding the degree of ac-
            ceptance or rejection of the physician's advice.
            A third situation is typical of many chronic illnesses.
            The patient himself carries out much of
            the treatment along with periodic consultations
            with the physician. Szasz and Hollender aptly
            term these three types of physician-patient relationships
            activity-passivity, guidance-cooperation
            and mutual participation.</p>

    <!-- Grid row -->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up info-color"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <!-- <img src="{% static "img/na1.JPG" %}"
                        class="rounded-circle img-fluid"> -->
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">Medical Publication</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos
                        adipisci, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up blue-gradient">
                </div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <!-- <img src="{% static "img/na2.JPG" %}"
                        class="rounded-circle img-fluid"> -->
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">NA Publication</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Neque cupiditate assumenda in
                        maiores repudiandae mollitia architecto.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">
            <!--Card-->
            <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up indigo"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <!-- <img src="{% static "img/na3.JPG" %}"
                        class="rounded-circle img-fluid"> -->
                </div>
                <div class="card-body">
                    <!--Name-->
                    <h4 class="font-weight-bold mb-4">NA Publication</h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Delectus impedit saepe officiis
                        ab aliquam repellat rem unde ducimus.</p>
                </div>
            </div>
            <!--Card-->
        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Testimonials v.1 -->










<!-- Grid row -->


</section>
<!-- Section: Blog v.1 -->

</div>
</div>

{% endblock %}